/* ===== GLOBAL =====*/
body {
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(14px, 2vw, 20px);
}
p {
    color: #0E2340;
}
.card-title {
    color: #0E2340;
}
.btn {
    font-size: inherit;
}

.logo-marca {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #FAF3EB;
    font-size: 20px;
}

.icone-header {
    font-size: 1.2rem;
    color: #FAF3EB;
}

.icone-footer {
    font-size: 1.2rem;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link .card {
    transition: 0.2s;
}

.card-link .card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.btn-custom-primary {
    background-color: #0E2340;
    color: #fff;
}
.btn-custom-primary:hover {
    background-color: #0E2340;
}
.btn-custom-warning {
    background-color: #F4724A;
    color: #fff;
}
.btn-custom-warning:hover {
    background-color: #F4724A;
}
.btn-custom-success {
    background-color: #F4724A;
    color: #fff;
}
.btn-custom-success:hover {
    background-color: #F4724A;
}
